.chooser{
}

.apartment {
  .panel {
    @include clearfix;
    background: $gray75;
    padding:1.5em;  
    position: relative;
  }
  .entry-plan {
    min-height:1px;
    width:62%;
    float:left;
    position: relative;
    @include breakpoint($s2) {
      width:auto;
      float:none;
    }
    &:after {
      content:"\e605";
      font-family: 'wpt';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
  
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
      position: absolute;
      right:0;
      bottom:0;
      display: block;
      background-color: rgba($gray125,0.8);
      color:#ffffff;
      width:50px;
      height:50px;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
    }

    &:hover:after{
      background-color: rgba($magenta,0.8);
    }

    img {
      width:100%;
      &:hover{
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
      }
    }
    
    
  }
  .action-block {
    width:38%;
    float:left;
    padding-left:1.5em;

    @include breakpoint($s2) {
      width:auto;
      float:none;
      padding-left: 0;
    }
    
    h2 {
      margin:0 0 0.5em;
      font-size: 2em;
      @include breakpoint($s2) {
        margin:1em 0;
      }
    }
    
    .deta {
      font-size: 2em;
      line-height: 0.875em;
      color:$magenta;
      //text-transform: uppercase;
      font-weight: 700;
      margin-top: 1em;
      margin-bottom: 1em;
      @include breakpoint($s2) {
        margin-top: 1em;
        margin-bottom:1em;
      }
      .w{
        font-size: 0.75em;
        span {
          //text-transform: none;
          font-size: 0.5em;  
        }
      }

    }
    .entry-floormap {
      text-align: center;
      margin-bottom:8em;
      @include breakpoint($s2) {
        margin-bottom: 3em;
      }
      img {
        &:hover{
          cursor: -moz-zoom-in;
          cursor: -webkit-zoom-in;
          cursor: zoom-in;
        }
      }
    }

    .action-buttons {

      
      position: absolute;
      bottom:1.5em;
      right:0;
      width:38.5666%;
      padding-left: 1.5em;

      @include breakpoint($s2) {
        position: static;
        margin-bottom:2em;
        margin-right: -1.5em;
        padding-left: 0;
        width:auto;
      }
    

    }
    .btn {
      display:block;
      margin-top:0.25em;
    }

  }

  .details {
    .tab-content > .tab-pane.data-list {
      padding:0;
    }
    .data-item {
      padding:1em;
      margin:0;
      width:33.333333%;
      float:left;
      font-size: 1.25em;
      &:nth-child(3n+1) {
        clear:left;
      }
      span {
        display: block;
        font-size: 0.75em;
      }

      @include breakpoint($s2){
        width:50%;
        &:nth-child(2n+1) {
          clear:left;
        }
        &:nth-child(3n+1) {
          clear:none;
        }
      }
      @include breakpoint($s1){
        width:auto;
        float:none;
      }
    }
  
    .disclaimer {
      margin-top: 0.5em;
      font-style: italic;
    }
  }


}
