/****** Color definitions ******/
$magenta:#9e147a;
$magenta125:#9C1A79;
$black:#020202;

$green:#a5da64;
$green75:#b5df86;
$green50:#cbe9ab;
$greenb:#a3d65d;

$gray125:#808080;
$gray:#aeaeae;
$gray75:#e4e4e4;
$gray50:#ebebeb;

$red:#da0f22;

$maximum:1140px;
$sans-serif: Helvetica, arial, sans-serif;


$s1:480px;
$s2:768px;
$s3:1024px;