.ch-tabs {
  background-color: $gray;
  display:none;
}
.apartment-chooser{
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  
  margin: 0 0;
  margin-top: 2em;

}

.bau-chooser {

  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  background: url(../img/masterplan.gif) no-repeat left top transparent;
  background-size: 100% auto;
}

.bau-data{
  display: none;

}
.white-popup {
  position: relative;
  background: #ffffff;
  padding: 14px 20px 14px;
  width: auto;
  max-width: 320px;
  margin: 20px auto;
  h3 {
    margin:0 0;
    font-size: 2em;

  }
  p {
    margin-bottom:0;
  }
  .btn {
    display: block;
    margin-top: 0.5em;
  }
}


.tooltip{
  font-size: 0.875em;
  line-height: 1.25em;
  margin:8px;
  padding:1em 1em;
  max-width: 320px;
  border:1px solid $magenta;
  background-color:#ffffff;
  position: absolute;
  z-index: 2;
  h3 {
    margin:0 0 0.125em;
    font-size: 1.25em;
  }
  p {
    margin:0;
  }

}

#pattern {
  height:0;
  width:0;
  position: absolute;
}
#eap-400{
  //fill: url(#kicsihaziko);
}
path[fill="#c1c1c1"] {
  //fill: url(#kicsihaziko);  
}