.nav-main {
  font-size: 0.875em;
  line-height: 1em;
  font-weight:700; 
  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style:none;
    width:220px;
    @include breakpoint($s2) {
      width:auto;
    }
  }
  a {
    display: block;
    background: rgba($gray75,0.8);
    color:$magenta;

    text-transform: uppercase;
    text-decoration: none;
    padding:0.333333em 1em;
    margin:0.25em 0;

    &:hover, &:focus{
      color:#ffffff;
      background: rgba($magenta,0.8);
    }
  }
  
  .dropdown {
    position: relative;
    &:hover .dropdown-menu, &:focus .dropdown-menu{
      display: block;
    }
  }
  .dropdown-menu {
    display: none;
    position:absolute;
    left:100%;
    padding-left: 0.25em;
    top:-0.25em;
    @include breakpoint($s2) {
      position:static;
      display: block;
      padding-left: 0;
      text-transform: none !important;

    }

  }
}



// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  @include clearfix;
  margin:0 0;
  padding:0 0 0 1em;
  background-color: $green;
  border-bottom: 1px solid #ffffff;
  > li {
    float: left;
    list-style: none;

    // Actual tabs (as links)
    > a {
      margin-right: 0.5em;

      display: block;
      padding:1em 0.5em;
      font-size: 1.25em;
      line-height: 1.125em;
      font-weight: 700;
      text-transform: uppercase;
      color:#ffffff;

      &:hover {
        border-color: $gray $gray $gray125;
        text-decoration: none;
      }
    }

    // Active state, and it's :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $magenta;
        cursor: default;
        
      }
    }
  }
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  background: $green50;
  margin:0 0;
  > .tab-pane {
    @include clearfix;
    display: none;
    padding: 1.5em;
  }
  > .active {
    display: block;
  }
}

//
// Panels
// --------------------------------------------------


// Base class
.panel {
  //margin-bottom: @line-height-computed;
  background-color: $green50;
  border: 1px solid transparent;
  //border-radius: @panel-border-radius;
  //box-shadow 0 1px 1px rgba(0,0,0,.05);
}

// Panel contents
.panel-body {
  padding: 1.5em;
  @include clearfix;
}
// Optional heading
.panel-heading {
  padding: 1em 1.5em;
  background-color: $green;
 //border-bottom: 1px solid transparent;
 // .border-top-radius(@panel-border-radius - 1);

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of it's default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  //font-size: ceil((@font-size-base * 1.125));
  > a {
    color: #ffffff;
    &:hover, &:focus {
      color: $magenta;
      text-decoration: none;
    }
  }
}

// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    //border-radius: @panel-border-radius;
    overflow: hidden; // crop contents when collapsed
    + .panel {
      margin-top: 0px;
    }
  }

  .panel-heading {
    border-bottom: 0;
    + .panel-collapse .panel-body {
      border-top: 1px solid $green75;
    }
  }
  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $green75;
    }
  }
}

/********* Off Canvas Navigation *******/
@include breakpoint ($s2) {
  body {
    overflow-x:hidden;
  }
  
  .minden {
    //box-shadow: 0px -5px 5px $gray125;
  }
  .banner {
    z-index:-1;
  }

  .banner, .minden{
    transition: all .2s ease;     
    width: 100%;
    //padding: 5%;
  }

  .js .banner { 
    margin-left: -100%;
    float: left;
  }
  .js .minden{
    margin-left: 0;
    float: left;
  }

  .active-nav .banner { 
    margin-left: 0; 
    //width: 80%;
    width:240px;
  }
  .active-nav .minden{
    margin-right: -100%;
  }
}

