body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height:1.4em;
  color:black;
}
a {
  color:$magenta;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}


h1,h2,h3 {
  text-transform: uppercase;
  color:$magenta;
  line-height: 1.125em;

  small {
    display: block;
    font-size:0.666666em;
    line-height: 1em;     
  }
}